#nav {
    background-color: #65402E;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
}

#logo:hover {
    opacity: 0.5;
}

h1 {
    font-family: 'Oleo Script', cursive;
    padding-top: 5px;
}

body {
    background-color: #AAA898 !important;
}

.entry {
    border: none !important;
    border-radius: 5px;
}

.card-text {
    font-size: 20px;
}

.row {
    margin-bottom: 10px;
}

.tones {
    font-size: 15px;
}

#brown {
    background-color: brown;
    color: white;
    background: brown;
}

#deepBrown {
    color: white;
    background: #65402E;
    border-color: #65402E !important
}

#beige {
    color: white;
    background: #AAA898;
}

#brownish-pink {
    color: white;
    background: #BA9182;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-bottom: 0px;
}

#light-brownish-pink {
    color: white;
    background: #C6ADA3;
    display: flex;
}

#entry_Container {
    background: #D7D6D2;
    display: block;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}