a {
    color: black !important;
}

a:hover {
    color: black !important;
    opacity: 0.5;
}

.login {
    height: 100%;
}
#flash {
    background-color: #66171a;
    color: white;
    padding: 10px;
}
#loginSquare {
    background-color: #be9583;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: 50%;
    width: auto;
    border-radius: 25px;
}
#loginTaskForm {
    margin-top: 15%;
}

#enterCredentials {
    color: #65402E;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

#btn-login {
    background-color: #65442E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#btn-login:hover {
    opacity: 0.8;
}

#loginBrandName {
    font-family: 'Oleo Script', cursive;
    font-size: 450%;
    color: #be9583;
}

#loginLogo {
    height: 500px;
    width: auto;
}

html,
body {
    height: 100%;
}

.right-color {
    background: #65402E;
}

.left-color {
    background: #ccb4a5;
}

.form-group {
    padding: 10px 0
}
