#logo {
    width: 50%;
    height: 50%;

}
#form_title {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}
#flash {
    background-color: #66171a;
    color: white;
    padding: 10px;
}
#nav {
    background-color: #65402E;
    font-family: 'Outfit', sans-serif;
}

#weather_info {
    display: block;
}

#fun_fact {
    display: block;
    margin-bottom: 10px;
}

#nyt_result {
    display: block;
}

#twitter {
    display: block;
}

#nasa {
    display: block;
}

#read {
    font-size: 1rem;
    line-height: 1.5;
}

#read #collapseNasa.collapse:not(.show) {
    display: block;
    height: 3rem;
    overflow: hidden;
}

#read #collapseNasa.collapsing {
    height: 3rem;
}

#read a.collapsed::after {
    content: 'Read more...';
}

#read a:not(.collapsed)::after {
    content: 'Read less...';
}

#settings {
    display: none;
    border: 1px solid black;
    background-color: rgb(180, 179, 179);
}

#signup {
    background-color: #CCB4A5;
    text-align: center;
}

#signup .card {
    background-color: #BF9583;
    background-color: #be9583;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: 50%;
    width: auto;
    border-radius: 25px;
    border-style:none;
}

.btn-primary {
    background-color: #65042E !important;
    border-color: #65042E !important
}

.btn {
    background-color: #65042E !important;
}
.btn:hover {
    opacity: 0.8;
}

.center {
    text-align: center;
}

.button {
    margin: 5px;
}
