#logo {
    width: 50%;
    height: 50%;
<<<<<<< Updated upstream

=======
 
}
 
.content {
    background-color: #CCB4A5;
    background-image: url(splash.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
    background-size: contain;
    margin: 0%;
}
 
.btn-placement {
    position: absolute;
    bottom: 5vh;
    right: 2vw;
}
 
.btn-placement .btn {
    margin: 9px;
}
 
.welcome {
    font-family: 'Rubik', sans-serif;
}
 
.tag {
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
    padding-right: 50px;
    margin-top:50px;
}

.landing {
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
    padding-right: 10px;
}

.authors {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    padding-right: 10px;
    margin-top:20px;
    font-weight: bold;
}
 
#container {
    background-color: #9c7968a6;
    width: 50vw;
    height: 75vh;
    margin-left: 10%;
    position: absolute;
    margin-top: 4%;
    border-radius: 5px;
    padding: 50px;
}
 


#form_title {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

#flash {
    background-color: #66171a;
    color: white;
    padding: 10px;
>>>>>>> Stashed changes
}

#nav {
    background-color: #65402E;
}

#weather_info {
    display: block;
}

#fun_fact {
    display: block;
    margin-bottom: 10px;
}

#nyt_result {
    display: block;
}

#twitter {
    display: block;
}

#nasa {
    display: block;
}

#read {
    font-size: 1rem;
    line-height: 1.5;
}

#read #collapseNasa.collapse:not(.show) {
    display: block;
    height: 3rem;
    overflow: hidden;
}

#read #collapseNasa.collapsing {
    height: 3rem;
}

#read a.collapsed::after {
    content: 'Read more...';
}

#read a:not(.collapsed)::after {
    content: 'Read less...';
}

#settings {
    display: none;
    border: 1px solid black;
    background-color: rgb(180, 179, 179);
}

#signup {
    background-color: #CCB4A5;
    text-align: center;
}

#signup .card {
    background-color: #BF9583;
}

.btn-primary {
    background-color: #65042E !important;
    border-color: #65042E !important
}

.btn {
    background-color: #65042E !important;
}

.center {
    text-align: center;
}

.button {
    margin: 5px;
}

.btn-primary {
    background-color: #65042E !important;
    border-color: #65042E !important

}
