#test {
    display: block;
}

#weather_info {
    display: block;
}

#fun_fact {
    display: block;
}

#nyt_result {
    display: block;
}

#twitter {
    display: block;
}

#nasa {
    display: block;
}

#settings {
    display: none;
    border: 1px solid black;
    background-color: rgb(180, 179, 179);
}

.center {
    text-align: center;
}

.button {
    margin: 5px;
}

/* code below effects login page*/ 

#login {
    background: linear-gradient(
      to right, 
      #ccb4a5 0%, 
      #ccb4a5 50%, 
      #65402E 50%, 
      #65402E 100%
    );
  }

#loginSquare{
    background-color: #be9583;
    height:400px;
    width: 600px;
    position: relative;
    top: 100px;
    left: 40px;
    border-radius: 25px;
}

#loginTaskForm{
    position: absolute;
    top: 250px;
    bottom: 100px;
    left: 80px;
    right: 50px;
}

#enterCredentials{
    color: #65402E;
    position: absolute;
    bottom: 90%;
}

#emailInput{
    text-align: center;
    position: absolute;
    bottom: 70%;
    left: 13%;
}

#passwordInput{
    text-align: center; 
    position: absolute;
    bottom: 55%;
    left: 13%;

}

#btn-login{
    background-color: #65442E ;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    bottom: 25%;
    left:200px;
}

#loginBrandName{
    font-family: 'Oleo Script', cursive;
    font-size: 450%;
    color: #be9583;
    position: absolute;
    left: 61.7%;
    bottom: 41%;
}

#loginLogo{
    max-width: 600px;
    max-height: 600px;
    height: auto;
    width: auto;
    float: right;
    position: relative;
    right:2%;
}

