<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/entries.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Oleo+Script:wght@400;700&family=Outfit:wght@100;200&family=Rubik:wght@300;400&family=Square+Peg&family=Ubuntu:wght@300;400&display=swap"
        rel="stylesheet">


    <nav id="nav" class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img id="logo" src="../static/mug_logo.png" width="50" height="50" alt="">
        </a>
        <!-- For when the window is minimized.-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('users_entries') }}">Entries</a>
                </li>

            </ul>
            <div class="navbar-nav ml-auto">
                <a class="nav-link my-2 my-lg-0" href="{{ url_for('signout') }}">Log Out</a>
            </div>
        </div>
    </nav>
</head>

<body>




    <div class="container-fluid" id="beige">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="flash">
            <b>{{ message }}</b>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class='row'>
            <h1 class= 'col-xl-11 col-lg-11 col-md-10 col-sm-10'>My Entries</h1>
            <div class="dropdown col-lg-1 col-md-2 col-sm-1 mt-3 p-1">
                <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">Filter By
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {%  for emotion in possible_emotions:  %}
                        <form action="/view_entries" method='POST'>
                            <button class="btn btn-light btn-sm col ml-auto" type='submit'
                                name="sort_key" value={{emotion}}> {{emotion}}
                            </button>
                        </form>
                    {%  endfor  %}
                </ul>
              </div>
        </div>
        <div id="entry_Container">

            {% for i in range(0,length) : %}

            {% if (i%2)==0 %}
            <div class="row">
                {% endif %}
                <div class="col-6">
                    <div class="entry card text-white h-100">
                        <div class="card-header" id="light-brownish-pink">
                            <h4 class="col">{{user_entries[i].title}}</h4>
                            <form action="/delete_entry" method='POST'>
                                <button class="btn btn-primary btn-sm col ml-auto" type='submit' id='deepBrown'
                                    name="Delete" value={{user_entries[i].id}}> X
                                </button>
                            </form>
                        </div>

                        <div class="card-body" id='brownish-pink'>

                            <p class="card-text">{{user_entries[i].content}}</p>
                            <div class="row h-100 justify-content-end">
                                <p class="tones p-2">You sound:
                                    {% for j in range(0,tones[i]|length) : %}
                                    {% if j == tones[i]|length - 1 %}
                                    {{tones[i][j]}}
                                    {% else %}
                                    {{tones[i][j]}},
                                    {% endif %}
                                    {% endfor %}
                                </p>

                                <h6 class="card-title ml-auto p-2">Posted: {{user_entries[i].timestamp}}</h6>
                            </div>
                        </div>

                    </div>
                </div>
                {% if (i%2)==1 %}
            </div>
            {% endif %}
            {% endfor %}
        </div>

    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>